- pageTitle = "NodePlay"
!!! 5
html(ng-app)
    head
        meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
        meta(http-equiv="Pragma" content="no-cache")
        meta(http-equiv="Cache-Control" content="no-cache")
        meta(http-equiv="Expires" content="0")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
        link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", rel="stylesheet", type="text/css")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js")
        script(src="http://code.angularjs.org/1.0.2/angular-bootstrap.min.js")
        link(href=f.uri("/resources/public/bootstrap2/css/bootstrap.min.css"), rel="stylesheet", type="text/css")
        script(src=f.uri("/resources/public/bootstrap2/js/bootstrap.min.js"))
        title=pageTitle
        script
            function BodyCtrl() {
            }
    body.ng-cloak(ng-controller="BodyCtrl", ng-cloak)
        .navbar
            .navbar-inner
                .container
                    a.brand(href="/") NodePlay
                    .nav-collapse.collapse
                        ul.nav
                            li.dropdown
                                li
                                    a(href="/apt/list") 진행 아파트 현황
                            li.dropdown
                                a.dropdown-toggle(href="#", data-toggle="dropdown") 입출금관리
                                ul.dropdown-menu
                                    li
                                        a(href="/moneytx/findr") 입출금등록
                                    li
                                        a(href="/moneytx/search") 입출금조회
                        ul.nav.pull-right
                            li.divider-vertical
                            form.navbar-search(action="/registry/search")
                                i.icon-search
                                input.search-query.span1(type="text", name="q", placeholder="계약자검색")
                                button.hide(type="submit")
                            li 
                                a(href="javascript:void(0)") 누누님. 
                                // #{loginUser.getMemberName} 님
                            li 
                                a(href=f.uri("/resources/j_spring_security_logout")) 로그아웃
        .container
            block body
            .row &nbsp;
            footer#footer
                p.pull-right NodePlay
script
    $(document).ready(function() {
        var datepickerOption = { constrainInput: true, 
            dateFormat: 'yy-mm-dd', 
            changeYear: true, 
            changeMonth: true,
            dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"], 
            gotoCurrent: true, 
            monthNames: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"], 
            monthNamesShort: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"], 
            showButtonPanel: true
        };
        // 캘린더 초기화.
        $('input[type="date"]:not([readonly])').datepicker(datepickerOption);
        $('input.date:not([readonly])').datepicker(datepickerOption);
        // input중에 number인 것들은 right align 한다.
        jQuery('input[type="number"]').css("text-align", "right");
        // control label들을 strong으로 만든다.
        jQuery('.control-group label.control-label').css("font-weight", "bold");
    });
